@keyframes load {
    form{
        background-color: hsl(214, 57%, 34%);
        left: 0%;
    }
    5%{
        background-color: hsl(0deg 0% 98% / 0%);
        left: 10%;
        box-shadow: none;
    }
    10%{
        background-color: hsl(214, 50%, 40%);
        left: 20%;
        box-shadow: inset 0px 0px 10px 0.5px hwb(195 94% 4%);
    }
    15%{
        background-color: hsl(0deg 0% 98% / 0%);
        left: 20%;
        box-shadow: none;
    }
    20%{
        background-color: hsl(214, 47%, 44%);
        left: 30%;
        box-shadow: inset 0px 0px 10px 0.5px hwb(195 94% 4%);
    }
    25%{
        background-color: hsl(0deg 0% 98% / 0%);
        left: 30%;
        box-shadow: none;
    }
    30%{
        background-color: hsl(214, 40%, 48%);
        left: 40%;
        box-shadow: inset 0px 0px 10px 0.5px hwb(195 94% 4%);
    }
    35%{
        background-color: hsl(0deg 0% 98% / 0%);
        left: 40%;
        box-shadow: none;
    }
    40%{
        background-color: hsl(214, 35%, 54%);
        left: 50%;
        box-shadow: inset 0px 0px 10px 0.5px hwb(195 94% 4%);
    }
    45%{
        background-color: hsl(0deg 0% 98% / 0%);
        left: 50%;
        box-shadow: none;
    }
    50%{
        background-color: hsl(214, 32%, 58%);
        left: 60%;
        box-shadow: inset 0px 0px 10px 0.5px hwb(195 94% 4%);
    }
    55%{
        background-color: hsl(0deg 0% 98% / 0%);
        left: 60%;
        box-shadow: none;
    }
    60%{
        background-color: hsl(214, 27%, 64%);
        left: 70%;
        box-shadow: inset 0px 0px 10px 0.5px hwb(195 94% 4%);
    }
    65%{
        background-color: hsl(0deg 0% 98% / 0%);
        left: 70%;
        box-shadow: none;
    }
    70%{
        background-color: hsl(214, 20%, 68%);
        left: 80%;
        box-shadow: inset 0px 0px 10px 0.5px hwb(195 94% 4%);
    }
    75%{
        background-color: hsl(0deg 0% 98% / 0%);
        left: 80%;
        box-shadow: none;
    }
    80%{
        background-color: hsl(214, 17%, 74%);
        left: 90%;
        box-shadow: inset 0px 0px 10px 0.5px hwb(195 94% 4%);
    }
    85%{
        background-color: hsl(0deg 0% 98% / 0%);
        left: 90%;
        box-shadow: none;
    }
    90%{
        background-color: hsl(214, 10%, 84%);
        left: 100%;
        box-shadow: inset 0px 0px 10px 0.5px hwb(195 94% 4%);
    }
    95%{
        background-color: hsl(0deg 0% 98% / 0%);
        left: 100%;
        box-shadow: none;
    }
    to{
        background-color: hsl(0, 0%, 100%);
        left: 100%;
        box-shadow: inset 0px 0px 10px 0.5px hwb(195 94% 4%);
    }
}
.loader_main{
    position: relative;
    top: 50%;
    left: 40%;
    width: 200px;
    height: 25px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}
.loader {
    position: relative;
    box-shadow: inset 0px 0px 10px 0.5px hwb(195 94% 4%);
    border-radius: 5px;
    width: 25px;
    height: 25px;
    animation: load 6s infinite;
}
body{
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
}