body{
    background-color: #E5E5E5;
    font-size: 20px;
    margin: 0 auto;
    min-width: 1303px;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Regular.ttf");
}
* {
    font-family: "Roboto";
    font-style: normal;
    letter-spacing: -0.02em;
    font-weight: 400;
    color: #F7F7F7;
}
.header{
    height: 48px;
    background-color: #FFFD00;
    display: flex;
}
.title{
    color: #232323;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin: auto;
    width: 1184px;
}
.nav{
    height: 48px;
    display: flex;
    align-items: center;
    color:#17022a;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px #0000004d;
}
.nav_inside{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: auto;
    width: 1300px;
    column-gap: 10px;
}
form{
    display: flex;
    width: 326px;
    height: 38px;
    margin-right: 40px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: inset 0px 2px 1px #00000040;
    border-radius: 29px;
    align-items: center;
}       
.search_input, .search_button{
    outline: none;
    border: none;
}
.search_input{
    width: 239px;
    height: 34px;
    padding-left: 23px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    color: #000000;
}
.search_button{
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-left: 11px;
    background: url(../imgs/Vector.png);
}
a{
    outline: none;
    text-decoration: none;
    color: #A102FF;
    line-height: 16px;
    font-size: 14px;
}
a:hover{
    color: #D48BFF;
}
.articles{
    width: 1303px;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
 }
 .block1{
    height: 486px;
}
.block2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #61019A;
    height: 503px;
}
.happyman{
    min-width: 376px;
    height: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    padding-right: 58px;
    padding-left: 140px;
}
.side{
    display: flex;
    flex-direction: column;
}
h1{
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    margin-top: 82px;
    margin-bottom: 0;
}
p{
    padding-top: 15px;
    width: 629px;
    height: 141px;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
}
ul{
    width: 604px;
    height: 126px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding-top: 12px;
}
li{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}
 .block3{
    display: grid;
    width: 100%;
    height: 503px;
    background-color: #3D0062;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 146px 1fr;
    justify-content: center;
}
h2{
    grid-column: 1/ span 3;
    margin: auto;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
}
 .text2{
    width: 328px;
    height: 237px;
    font-size: 16px;
    line-height: 19px;
    margin: auto;
    margin-bottom: 120px;
    padding: 0;
}
