body{
    background-color: #E5E5E5;
    font-size: 20px;
    margin: 0 auto;
    min-width: 1280px;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Regular.ttf");
}
* {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    color: #232323;
    font-size: 16px;
    letter-spacing: -0.02em;
}
.header{
    height: 48px;
    background-color: #FFFD00;
    display: flex;
}
.title{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin: auto;
    width: 1184px;
}
.nav{
    height: 48px;
    display: flex;
    align-items: center;
    color:#17022a;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px #0000004d;
    padding-right: 15px;
}
.nav_inside{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: auto;
    width: 1200px;
    column-gap: 10px;
}
form{
    display: flex;
    width: 326px;
    height: 38px;
    margin-right: 40px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: inset 0px 2px 1px #00000040;
    border-radius: 29px;
    align-items: center;
}       
.search_input, .search_button{
    outline: none;
    border: none;
}
.search_input{
    width: 239px;
    height: 34px;
    padding-left: 23px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
}
.search_button{
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-left: 11px;
    background: url(../imgs/Vector.png);
}
a{
    outline: none;
    text-decoration: none;
    color: #A102FF;
    line-height: 16px;
    font-size: 14px;
}
a:hover{
    color: #D48BFF;
}
.main{
    display: flex;
}
.empty{
    flex: 1;
}
.articles{
    flex: 1;
    width: 1200px;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
 }
.block1{
    display: grid;
    grid-template-areas: "art1 art1 art2 art3"
                        "art1 art1 art4 art5";
}
.block2{
    display: flex;
    flex-wrap: wrap;
}
.element{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 7.5px;
    line-height: 19px;
    overflow: hidden;
    background-color: #ffff;
}
.imgleaf{
    background: url(../imgs/leaf.png) 0/cover;
}
.imgparty{
    background: url(../imgs/1party.png) 0/cover;
}
.imgcrowd{
    background: url(../imgs/1crowd.png) 0/cover;
}
.imgbig{
    min-width: 100%;
    height: 405px;
    position: relative;
}
.imgbig::after{
    content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 5px;      
	left: 0;   
	background: transparent;
	background-image: linear-gradient(to top, #FFFF 10% , #e9edf100 25%);
}
.imgsmall{
    min-width: 100%;
    height: 131px; 
    position: relative;
}
.imgsmall::after{
    content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 5px;      
	left: 0;   
	background: transparent;
	background-image: linear-gradient(to top, #FFFF 15% , #ffffff00 30%);
}
.imgside{
    width: 285px;
    height: 100%;
    position: relative;
    background-position: center;
}
.imgside::after{
    content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0px;      
	left: 5px;   
	background: transparent;
	background-image: linear-gradient(to left, #FFFF 15% , #ffffff00 30%);
}
.top{
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-top: -30px;
    padding-left: 15px;
    flex: 1;
}
.topsmall{
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding-left: 15px;
    margin-top: -8px;
    flex: 1;
}
.side{
    margin-left: -30px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
h1 {
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    margin: 0;
}
h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin: 0;
}
h2{
    padding-top: 15px;
    height: 45px;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    margin: 0;
}
.text1{
    min-width: 555px;
    height: 95px;
    padding-right: 15px;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-top: 5px;
    margin: 0;
}
.text2{
    min-width: 255px;
    height: 64px;
    overflow: hidden;
    padding-right: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    margin: 0;
}
.text3{
    width: 315px;
    height: 150px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    margin: 0;
}
.bottom{
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 15px 15px 15px 0px;   
}
.bottom2{
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 15px 15px 15px 0px;   
}
.like{
    width: 64px;
    height: 30px;
    left: 446px;
    top: 570px;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #7CF253;
    align-self: flex-end;
    margin-left: auto;
    text-align: right;
}
.button_container{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 27px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    margin-left: 4px;
}
 .buttonplus{
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 19px;
    color: #7CF253;
}
.buttonminus{
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 19px;
    color: #FF9494;
}
.art1{
    grid-area: art1;
    width: 585px;
    height: 615px;
    display: flex;
    flex-direction: column;
    
}
.art2{
    grid-area: art2;
    width: 285px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.art3{
    grid-area: art3;
    width: 285px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.art4{
    grid-area: art4;
    width: 285px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.art5{
    grid-area: art5;
    width: 285px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.art6{
    width: 585px;
    height: 300px;
    display: flex;
}
.footer{
    display: flex;
    justify-content: center;
    padding-top: 28px;
    padding-bottom: 31px;
}
.buttonmore{
    background-color: #FFFD00;
    text-align: center;
    width: 132px;
    height: 38px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    border: none;
    line-height: 16px;
}
.buttonmore:hover{
    background: #FFE600;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(1, 1, 0.5, 1);
}
.button_up{
    flex: 1;
    display: flex;
    justify-content: center;
}
.up{
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    width: 153px;
    height: 52px;
    position: fixed;
    bottom: 20%;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.up p{
    font-size: 14px;
}
@media screen and (max-width:1495px) {
   .up{
    display: none;
    } 
}
@media screen and (max-width:1280px) {
    .title{
        margin-left: 367px;
    }
    .a_top{
        display: none;
    }
    .block1{
        display: flex;
        flex-wrap: wrap;
    }
    .block2{
        display: flex;
        flex-wrap: wrap;
    }
    .art1{
        width: 1185px;
        height: 300px;
        flex-direction: row;
    }
    .art2{
        width: 1185px;
        height: 300px;
        flex-direction: row;
    }
    .art3{
        width: 1185px;
        height: 300px;
        flex-direction: row;
    }
    .art4{
        width: 1185px;
        height: 300px;
        flex-direction: row;
    }
    .art5{
        width: 1185px;
        height: 300px;
        flex-direction: row;
    }
    .art6{
        width: 1185px;
        height: 300px;
        flex-direction: row;
    }
    .imgbig{
        min-width: 577.31px;
        height: 100%;
        position: relative;
        background-position: center;
    }
    .imgbig::after{
        content: "";
        display: block;    
        width: 100%;
        height: 100%;    
        position: absolute;
        top: 0px;      
        left: 5px;
        background: transparent;
        background-image: linear-gradient(to left, #FFFF 15% , #ffffff00 30%);
    }
    .imgsmall{
        min-width: 577.31px;
        height: 100%; 
        position: relative;
        background-position: center;
    }
    .imgsmall::after{
        content: "";
        display: block;    
        width: 100%;
        height: 100%;    
        position: absolute;
        top: 0px;      
        left: 5px;   
        background: transparent;
        background-image: linear-gradient(to left, #FFFF 15% , #ffffff00 30%);
    }
    .imgside{
        width: 577.31px;
        height: 100%;
        position: relative;
        background-position: center;
    }
    .imgside::after{
        content: "";
        display: block;    
        width: 100%;
        height: 100%;    
        position: absolute;
        top: 0px;      
        left: 5px;   
        background: transparent;
        background-image: linear-gradient(to left, #FFFF 15% , #ffffff00 30%);
    }
    .top{
        display: flex;
        flex-direction: column;
        z-index: 1;
        margin-left: -31.31px;
        margin-top: 0;
        padding-left: 0;
    }
    .topsmall{
        display: flex;
        flex-direction: column;
        z-index: 1;
        margin-left: -31.31px;
        margin-top: 0;
        padding-left: 0;
    }
    .side{
        margin-left: -31.31px;
        display: flex;
        flex-direction: column;
        z-index: 1;
        margin-top: 0;
        padding-left: 0;
    }
    h1{
        margin-top: 15px;
    }
    h3{
        margin-top: 15px;
        font-size: 34px;
        line-height: 40px;
    }
    h2{
        margin-top: 15px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .text1{
        min-width: 615px;
        height: 103px;
        line-height: 18.75px;
        padding-top: 5px;
    }
    .text2{
        min-width: 615px;
        height: 103px;
        line-height: 18.75px;
        padding-top: 5px;
        -webkit-line-clamp: 5;
    }
    .text3{
        width: 615px;
        height: 103px;
        line-height: 18.75px;
        padding-top: 5px;
        -webkit-line-clamp: 5;
    }
    .bottom{
        padding: 0px 15px 0px 0px;   
        margin-bottom: 121px;
        margin-top: 9px;
    }
    .bottom2{
        padding: 0px 15px 0px 0px; 
        margin-bottom: 121px;
        margin-top: 9px;  
    }
    .like{
        display: none;
    }
    .button_container{
        display: none;
    }
     .buttonplus{
        display: none;
    }
    .buttonminus{
        display: none;
    }
    .up{
        display: none;
    }
}