.articles{
    width: 1303px;
    margin: 1% auto 30px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
 }
 .block1{
    height: 486px;
    width: 100%;
    background: $imgabus1;
}
.block2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $bgcolorabus;
    height: 503px;
    width: 100%;
}
.happyman{
    width: 574px;
    height: 100%;
    background: $imgabus2;
    background-position: 140px;
    background-repeat: no-repeat;
}
.side{
    display: flex;
    flex-direction: column;
}
h1{
    @include font2 (700, 34px, 40px);
    margin-top: 82px;
    margin-bottom: 0;
}
p{
    @include font2 ($fweightall, $fsizeall, 19px);
    padding-top: 15px;
    width: 629px;
    height: 141px;
    margin: 0;
}
ul{
    width: 604px;
    height: 126px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding-top: 12px;
}
li{
    @include font2 (700, 20px, 23px);
}
 .block3{
    display: grid;
    height: 503px;
    background-color: $bgcolorabus2;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 146px 1fr;
    justify-content: center;
    padding: 53px 114px 0 115px;
    column-gap: 45px;
}
h2{
    grid-column: 1/ span 3;
    text-align: center;
    @include font2 (700, 34px, 40px);
}
 .text2{
    width: 328px;
    height: 237px;
    padding: 0;
    @include font2 ($fweightall, $fsizeall, 19px);
}
