@font-face {
    font-family: "Roboto";
    src: url("../../fonts/roboto/Roboto-Regular.ttf");
}
@import "variables";
@import "mixins";

body{
    background-color: $bgcolor;
    margin: 0 auto;
    min-width: 1303px;
}
* {
    @include font ($fweightall,$fsizeall,none);
    font:{
        family: "Roboto";
        style: normal;
    }
    color: $fontcolor;
    letter-spacing: $letterspace;  
}
.header{
    height: 48px;
    background-color: $bgcolorhead;
    display: flex;
}
.title{
    margin: auto;
    width: 1184px;
    @include font (700,$fsizehead,23px)
}
.nav{
    height: 48px;
    display: flex;
    background-color: $bgcolornav;
    box-shadow: 0 0 5px #0000004d;

    &_inside{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: auto;
        width: 1200px;
        column-gap: 10px;
        padding-right: 15px;
}}
form{
    display: flex;
    width: 326px;
    height: 38px;
    margin-right: 40px;
    box-shadow: inset 0px 2px 1px #00000040;
    border-radius: 29px;
    align-items: center;
}       
.search_input{
    width: 239px;
    height: 35px;
    padding-left: 23px;
    font-size: 14px;
}
.search_button{
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-left: 11px;
    background: $searchimg;
}
.search_input, .search_button{
    outline: none;
    border: none;
}
a{
    text-decoration: none;
    color: $linkcolor;
    line-height: 16px;
    font-size: $fsizelink;
    &:hover{
        color: $linkcolorhov;
    }
}
@import "_aboutusmain";