@font-face {
    font-family: "Roboto";
    src: url("../../fonts/roboto/Roboto-Regular.ttf");
}
@import "variables";
@import "mixins";
@import "_index";
.newart {
    z-index: 10;
    width: 854px;
    height: 847px;
    display: flex;
    flex-direction: column;
    margin: 37px auto auto auto;
    align-items: unset;
    &_top{
        height: 38px;
        margin-top: 11px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        font-weight: 700;
        line-height: 23.44px;
        color: rgba(35, 35, 35, 0.7);
        margin-left: 32px;
        margin-right: 26px;
    }
    &_title {
        margin: 38px 31px 0px 26px;
    }
    &_content {
        margin: 23px 31px 0px 26px;
    }
    &_pic {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 23px 26px 0px 31px;
    }
}
fieldset {
    margin: 0;
    padding: 0;
    border: none;
}
#close_btn {
    background-color: $buttonupcolor;
    width: 37px;
    height: 38px;
    border-radius: 4px;
    border-color: #FFFFFF;
    box-shadow: $box-shadow;
    font-size: 14px;
    cursor: pointer;
}
#title {
    width: 100%;
    height: 38px;
    border-radius: 3px;
    padding: 0;
    margin-top: 10px;
    border: 1px solid #CECECE;
    box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.25);
    &:focus {
        outline-color: $formcolorfocus;
    }
}
#content {
    width: 100%;
    height: 493px;
    border-radius: 3px;
    resize: none;
    padding: 0;
    margin-top: 7px;
    border: 1px solid #CECECE;
    box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.25);
    &:focus {
        outline-color: $formcolorfocus;
    }
}
input[type=file]::file-selector-button {
    padding: 8px 10px;
    background-color: $buttonupcolor;
    box-shadow: $box-shadow;
    border-radius: 6px;
    border-color: #FFFFFF;
    font-size: $fsizebutton;
    font-weight: $fweightall;
    font-size: $fsizebutton;
    margin-left: 15px;
    &:hover {
        background-color: #f2f1f1da;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(1, 1, 0.5, 1);
        border: 2px solid;
        color: #232323;
}
}
.buttons_submit_remove {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    bottom: 20px;
    flex: 1;
    margin-bottom: 20px;
}
#btnremove {
    background-color: #FFFFFF;
    margin-right: 15px;
    box-shadow: $box-shadow;
    border-radius: 6px;
    border-color: #FFFFFF;
    width: 85px;
    height: 32px;
    font-size: $fsizebutton;
    &:hover{
        background: #f2f1f1da;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(1, 1, 0.5, 1);
}
}
#btnsubmit {
    background-color: $buttoncolor;
    margin-right: 14px;
    box-shadow: $box-shadow;
    border-radius: 6px;
    border-color: #FFFFFF;
    width: 85px;
    height: 32px;
    font-size: $fsizebutton;
    &:hover{
        background: $buttoncolorhov;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(1, 1, 0.5, 1);
}
}