
@font-face {
    font-family: "Roboto";
    src: url("../../fonts/roboto/Roboto-Regular.ttf");
}
@import "variables";
@import "mixins";

body{
    background-color: $bgcolor;
    margin: 0 auto;
    min-width: 1280px;
}
* {
    @include font ($fweightall,$fsizeall,none);
    font: {
        family: "Roboto";
        style: normal;
    }
    color: $fontcolor;
    letter-spacing: $letterspace;  
}
.header{
    height: 48px;
    background-color: $bgcolorhead;
    display: flex;
}
.toptitle{
    margin: auto;
    width: 1184px;
    @include font (700,$fsizehead,23px)
}
.nav{
    height: 48px;
    display: flex;
    background-color: $bgcolornav;
    box-shadow: 0 0 5px #0000004d;
    padding-right: 15px;

    &_inside{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: auto;
        width: 1200px;
        column-gap: 10px;
}}
form{
    display: flex;
    width: 326px;
    height: 38px;
    margin-right: 40px;
    box-shadow: inset 0px 2px 1px #00000040;
    border-radius: 29px;
    align-items: center;
}       
.search_input{
    width: 239px;
    height: 35px;
    padding-left: 23px;
    font-size: 14px;
}
.search_button{
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-left: 11px;
    background: $searchimg;
}
.search_input, .search_button{
    outline: none;
    border: none;
}
a{
    text-decoration: none;
    color: $linkcolor;
    line-height: 16px;
    font-size: $fsizelink;
    &:hover{
        color: $linkcolorhov;
    }
}
.overlay{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6e6c6c5f;
    z-index: 10;
    display:none;
    &_show{
        display: block;
    }
}
.modal{
    display: none;
    &_show{ 
        position: absolute;
        width: 100%;
        height: 100%;
        top: 10%;
        display: block;
    }
}
.newart {
    position: relative;
    display: none;
    z-index: 20;
    background-color: #ffff;
    width: 854px;
    height: 847px;
    display: flex;
    flex-direction: column;
    margin: 37px auto auto auto;
    align-items: unset;
    &_top{
        height: 38px;
        margin-top: 11px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        font-weight: 700;
        line-height: 23.44px;
        color: rgba(35, 35, 35, 0.7);
        margin-left: 32px;
        margin-right: 26px;
    }
    &_title {
        margin: 38px 31px 0px 26px;
    }
    &_content {
        margin: 23px 31px 0px 26px;
    }
    &_pic {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 23px 26px 0px 31px;
    }
}
fieldset {
    margin: 0;
    padding: 0;
    border: none;
}
#close_btn {
    background-color: $buttonupcolor;
    width: 37px;
    height: 38px;
    border-radius: 4px;
    border-color: #FFFFFF;
    box-shadow: $box-shadow;
    font-size: 14px;
}
#title {
    width: 100%;
    height: 38px;
    border-radius: 3px;
    padding: 0;
    margin-top: 10px;
    border: 1px solid #CECECE;
    box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.25);
    &:focus {
        outline-color: $formcolorfocus;
    }
}
#content {
    width: 100%;
    height: 493px;
    border-radius: 3px;
    resize: none;
    padding: 0;
    margin-top: 7px;
    border: 1px solid #CECECE;
    box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.25);
    &:focus {
        outline-color: $formcolorfocus;
    }
}
input[type=file]::file-selector-button {
    padding: 8px 10px;
    background-color: $buttonupcolor;
    box-shadow: $box-shadow;
    border-radius: 6px;
    border-color: #FFFFFF;
    font-size: $fsizebutton;
    font-weight: $fweightall;
    font-size: $fsizebutton;
    margin-left: 15px;
    &:hover {
        background-color: #f2f1f1da;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(1, 1, 0.5, 1);
        border: 2px solid;
        color: #232323;
}
}
.buttons_submit_remove {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    bottom: 20px;
    flex: 1;
    margin-bottom: 20px;
}
#btnremove {
    background-color: #FFFFFF;
    margin-right: 15px;
    box-shadow: $box-shadow;
    border-radius: 6px;
    border-color: #FFFFFF;
    width: 85px;
    height: 32px;
    font-size: $fsizebutton;
    &:hover{
        background: #f2f1f1da;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(1, 1, 0.5, 1);
}
}
#btnsubmit {
    background-color: $buttoncolor;
    margin-right: 14px;
    box-shadow: $box-shadow;
    border-radius: 6px;
    border-color: #FFFFFF;
    width: 85px;
    height: 32px;
    font-size: $fsizebutton;
    &:hover{
        background: $buttoncolorhov;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(1, 1, 0.5, 1);
}
}
@import "_index_main";
@import "_index_mds1495";
@import "_index_mds1280";