.main{
    display: flex;
}
.empty{
    flex: 1;
}
.articles{
    flex: 1;
    width: 1200px;
    margin: 1% auto 0 auto;
    display: flex;
    flex-direction: column;
 }
.block1{
    display: grid;
    grid-template-areas: "art1 art1 art2 art3"
                        "art1 art1 art4 art5";
}
.block2{
    display: flex;
    flex-wrap: wrap;
}
.art1{
    grid-area: art1;
    width: 585px;
    height: 615px;
    display: flex;
    flex-direction: column;
}
.art2{
    grid-area: art2;
    width: 285px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.art3{
    grid-area: art3;
    width: 285px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.art4{
    grid-area: art4;
    width: 285px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.art5{
    grid-area: art5;
    width: 285px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.art6{
    width: 585px;
    height: 300px;
    display: flex;
}
.element{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 7.5px;
    line-height: 19px;
    overflow: hidden;
    background-color: #ffff;
}
.pic{
    background:  0/cover;
}
.imgparty{
    background: url(../../imgs/1party.png);
}
.imgbig{
    min-width: 100%;
    height: 405px;
    position: relative;

    &::after{
        @include img_gradient (360);
    }
}
.imgsmall{
    min-width: 100%;
    height: 131px; 
    position: relative;

    &::after{
        @include img_gradient (360);
    }
}
.imgside{
    width: 285px;
    height: 100%;
    position: relative;
    background-position: center;

    &::after{
        @include img_gradient (270);  
    }
}
.top{
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-top: -30px;
    padding-left: 15px;
    flex: 1;
    background-color: $bgcolorart;
}
.topsmall{
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-top: -8px;
    padding-left: 15px;
    flex: 1;
    background-color: $bgcolorart;
}
.side{
    display: flex;
    width: 300px;
    flex-direction: column;
    z-index: 1;
    margin-left: -28px;
    background-color: $bgcolorart;
}
h1 {
    @include font (700, 34px, 40px);
    margin: 0;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
h3{
    @include font (700, 20px, 23px);
    margin: 0;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
h2{
    @include font (700, 34px, 40px);
    padding-top: 15px;
    height: 45px;
    margin: 0;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
.text1{
    padding-right: 15px;
    padding-top: 5px;
    margin: 0;
    @include line-clamp (5);
}
.text2{
    width: 255px;
    padding-right: 15px;
    margin: 0;
    line-height: 19px;
    @include line-clamp (3);
}
.text3{
    width: 315px;
    height: 150px;
    margin: 0;
    @include line-clamp (8);
}
.bottom{
    display: flex;
    flex: 1;
    padding: 15px 15px 15px 0px;   
}
.bottom2{
    display: flex;
    flex: 1;
    padding: 15px 15px 15px 0px;
    width: 315px; 
}
.like{
    height: 30px;
    align-self: flex-end;
    margin-left: auto;
    text-align: right;    
    @include font (500, 30px, 35px);
    color: $likecolor;
}
.button_container{
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 27px;
    box-shadow: $box-shadow;
    border-radius: 19px;
    margin-left: 4px;
}
.buttonplus{
    @include font (700, 18px, 20px);
    border: none;
    background-color: #FFFFFF;
    color: $pluscolor;
}
.buttonminus{
    @include font (700, 18px, 20px);
    border: none;
    background-color: #FFFFFF;
    color: $minuscolor;
}
.button_up{
    flex: 1;
    display: flex;
    justify-content: center;
}
.up{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $buttonupcolor;
    box-shadow: $box-shadow;
    border-radius: 19px;
    width: 153px;
    height: 52px;
    position: fixed;
    bottom: 20%;
    color: $fontcolor;

    p{
        font-size: $fsizebutton;
}}
.footer{
    display: flex;
    justify-content: center;
    padding: 28px 0 31px 0;
    margin: auto;
}
.buttonmore{
    background-color: $buttoncolor;
    text-align: center;
    width: 132px;
    height: 38px;
    box-shadow: $box-shadow;
    border-radius: 19px;
    border: none;
    line-height: 16px;
    margin: auto;
    font-size: $fsizebutton;

    &:hover{
        background: $buttoncolorhov;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(1, 1, 0.5, 1);
}}