@media screen and (max-width:1280px) {
    .title{
        margin-left: 367px;
    }
    .a_top{
        display: none;
    }
    .block1{
        display: flex;
        flex-wrap: wrap;
    }
    .block2{
        display: flex;
        flex-wrap: wrap;
    }
    .art1{
        width: 1185px;
        height: 300px;
        flex-direction: row;
    }
    .art2{
        width: 1185px;
        height: 300px;
        flex-direction: row;
    }
    .art3{
        width: 1185px;
        height: 300px;
        flex-direction: row;
    }
    .art4{
        width: 1185px;
        height: 300px;
        flex-direction: row;
    }
    .art5{
        width: 1185px;
        height: 300px;
        flex-direction: row;
    }
    .art6{
        width: 1185px;
        height: 300px;
        flex-direction: row;
    }
    .imgbig{
        min-width: 577.31px;
        height: 100%;
        background-position: center;
        &::after{
            @include img_gradient (270);
        }
    }
    .imgsmall{
        min-width: 577.31px;
        height: 100%; 
        background-position: center;
        &::after{
            @include img_gradient (270);
        }
    }
    .imgside{
        width: 577.31px;
    }
    .top{
        margin-left: -31.31px;
        margin-top: 0;
        padding-left: 0;
    }
    .topsmall{
        margin-left: -31.31px;
        margin-top: 0;
        padding-left: 0;
    }
    .side{
        margin-left: -31.31px;
        margin-top: 0;
        padding-left: 0;
    }
    h1{
        margin-top: 15px;
    }
    h3{
        @include font (700, 34px, 40px);
        margin-top: 15px;
    }
    h2{
        margin-top: 15px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .text1{
        min-width: 615px;
        height: 103px;
        line-height: 18.75px;
    }
    .text2{
        width: 615px;
        height: 103px;
        line-height: 18.75px;
        padding-top: 5px;
        -webkit-line-clamp: 5;
    }
    .text3{
        width: 615px;
        height: 103px;
        line-height: 18.75px;
        padding-top: 5px;
        -webkit-line-clamp: 5;
    }
    .bottom{
        padding: 0px 15px 0px 0px;   
        margin-bottom: 121px;
        margin-top: 9px;
    }
    .bottom2{
        padding: 0px 15px 0px 0px; 
        margin-bottom: 121px;
        margin-top: 9px;  
    }
    .like{
        display: none;
    }
    .button_container{
        display: none;
    }
     .buttonplus{
        display: none;
    }
    .buttonminus{
        display: none;
    }
    .up{
        display: none;
    }
}