@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto/Roboto-Regular.ttf");
}
body {
  background-color: #E5E5E5;
  margin: 0 auto;
  min-width: 1303px;
}

* {
  font-weight: 400;
  font-size: 16px;
  line-height: none;
  font-family: "Roboto";
  font-style: normal;
  color: #232323;
  letter-spacing: -0.02em;
}

.header {
  height: 48px;
  background-color: #FFFD00;
  display: flex;
}

.title {
  margin: auto;
  width: 1184px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.nav {
  height: 48px;
  display: flex;
  background-color: #FFFFFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3019607843);
}
.nav_inside {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
  width: 1200px;
  column-gap: 10px;
  padding-right: 15px;
}

form {
  display: flex;
  width: 326px;
  height: 38px;
  margin-right: 40px;
  box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.2509803922);
  border-radius: 29px;
  align-items: center;
}

.search_input {
  width: 239px;
  height: 35px;
  padding-left: 23px;
  font-size: 14px;
}

.search_button {
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-left: 11px;
  background: url(../../imgs/Vector.png);
}

.search_input, .search_button {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: #A102FF;
  line-height: 16px;
  font-size: 14px;
}
a:hover {
  color: #D48BFF;
}

.articles {
  width: 1303px;
  margin: 1% auto 30px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.block1 {
  height: 486px;
  width: 100%;
  background: url(../../imgs/chat.png);
}

.block2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #61019A;
  height: 503px;
  width: 100%;
}

.happyman {
  width: 574px;
  height: 100%;
  background: url(../../imgs/happyman.png);
  background-position: 140px;
  background-repeat: no-repeat;
}

.side {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #F6F6F6;
  margin-top: 82px;
  margin-bottom: 0;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F6F6F6;
  padding-top: 15px;
  width: 629px;
  height: 141px;
  margin: 0;
}

ul {
  width: 604px;
  height: 126px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding-top: 12px;
}

li {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #F6F6F6;
}

.block3 {
  display: grid;
  height: 503px;
  background-color: #3D0062;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 146px 1fr;
  justify-content: center;
  padding: 53px 114px 0 115px;
  column-gap: 45px;
}

h2 {
  grid-column: 1/span 3;
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #F6F6F6;
}

.text2 {
  width: 328px;
  height: 237px;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F6F6F6;
}

/*# sourceMappingURL=aboutus_scss.css.map */
