@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto/Roboto-Regular.ttf");
}
body {
  background-color: #E5E5E5;
  margin: 0 auto;
  min-width: 1280px;
}

* {
  font-weight: 400;
  font-size: 16px;
  line-height: none;
  font-family: "Roboto";
  font-style: normal;
  color: #232323;
  letter-spacing: -0.02em;
}

.header {
  height: 48px;
  background-color: #FFFD00;
  display: flex;
}

.toptitle {
  margin: auto;
  width: 1184px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.nav {
  height: 48px;
  display: flex;
  background-color: #FFFFFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3019607843);
  padding-right: 15px;
}
.nav_inside {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
  width: 1200px;
  column-gap: 10px;
}

form {
  display: flex;
  width: 326px;
  height: 38px;
  margin-right: 40px;
  box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.2509803922);
  border-radius: 29px;
  align-items: center;
}

.search_input {
  width: 239px;
  height: 35px;
  padding-left: 23px;
  font-size: 14px;
}

.search_button {
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-left: 11px;
  background: url(../../imgs/Vector.png);
}

.search_input, .search_button {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: #A102FF;
  line-height: 16px;
  font-size: 14px;
}
a:hover {
  color: #D48BFF;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(110, 108, 108, 0.3725490196);
  z-index: 10;
  display: none;
}
.overlay_show {
  display: block;
}

.modal {
  display: none;
}
.modal_show {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
  display: block;
}

.newart {
  position: relative;
  display: none;
  z-index: 20;
  background-color: white;
  width: 854px;
  height: 847px;
  display: flex;
  flex-direction: column;
  margin: 37px auto auto auto;
  align-items: unset;
}
.newart_top {
  height: 38px;
  margin-top: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  color: rgba(35, 35, 35, 0.7);
  margin-left: 32px;
  margin-right: 26px;
}
.newart_title {
  margin: 38px 31px 0px 26px;
}
.newart_content {
  margin: 23px 31px 0px 26px;
}
.newart_pic {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 23px 26px 0px 31px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

#close_btn {
  background-color: #FFFFFF;
  width: 37px;
  height: 38px;
  border-radius: 4px;
  border-color: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  font-size: 14px;
}

#title {
  width: 100%;
  height: 38px;
  border-radius: 3px;
  padding: 0;
  margin-top: 10px;
  border: 1px solid #CECECE;
  box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.25);
}
#title:focus {
  outline-color: #FFFD00;
}

#content {
  width: 100%;
  height: 493px;
  border-radius: 3px;
  resize: none;
  padding: 0;
  margin-top: 7px;
  border: 1px solid #CECECE;
  box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.25);
}
#content:focus {
  outline-color: #FFFD00;
}

input[type=file]::file-selector-button {
  padding: 8px 10px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  border-color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  font-size: 14px;
  margin-left: 15px;
}
input[type=file]::file-selector-button:hover {
  background-color: rgba(242, 241, 241, 0.8549019608);
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(1, 1, 0.5, 1);
  border: 2px solid;
  color: #232323;
}

.buttons_submit_remove {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  bottom: 20px;
  flex: 1;
  margin-bottom: 20px;
}

#btnremove {
  background-color: #FFFFFF;
  margin-right: 15px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  border-color: #FFFFFF;
  width: 85px;
  height: 32px;
  font-size: 14px;
}
#btnremove:hover {
  background: rgba(242, 241, 241, 0.8549019608);
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(1, 1, 0.5, 1);
}

#btnsubmit {
  background-color: #FFFD00;
  margin-right: 14px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  border-color: #FFFFFF;
  width: 85px;
  height: 32px;
  font-size: 14px;
}
#btnsubmit:hover {
  background: #FFE600;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(1, 1, 0.5, 1);
}

.main {
  display: flex;
}

.empty {
  flex: 1;
}

.articles {
  flex: 1;
  width: 1200px;
  margin: 1% auto 0 auto;
  display: flex;
  flex-direction: column;
}

.block1 {
  display: grid;
  grid-template-areas: "art1 art1 art2 art3" "art1 art1 art4 art5";
}

.block2 {
  display: flex;
  flex-wrap: wrap;
}

.art1 {
  grid-area: art1;
  width: 585px;
  height: 615px;
  display: flex;
  flex-direction: column;
}

.art2 {
  grid-area: art2;
  width: 285px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.art3 {
  grid-area: art3;
  width: 285px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.art4 {
  grid-area: art4;
  width: 285px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.art5 {
  grid-area: art5;
  width: 285px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.art6 {
  width: 585px;
  height: 300px;
  display: flex;
}

.element {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 7.5px;
  line-height: 19px;
  overflow: hidden;
  background-color: white;
}

.pic {
  background: 0/cover;
}

.imgparty {
  background: url(../../imgs/1party.png);
}

.imgbig {
  min-width: 100%;
  height: 405px;
  position: relative;
}
.imgbig::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(360deg, #FFFFFF 10.88%, rgba(255, 255, 255, 0) 29.1%);
}

.imgsmall {
  min-width: 100%;
  height: 131px;
  position: relative;
}
.imgsmall::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(360deg, #FFFFFF 10.88%, rgba(255, 255, 255, 0) 29.1%);
}

.imgside {
  width: 285px;
  height: 100%;
  position: relative;
  background-position: center;
}
.imgside::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(270deg, #FFFFFF 10.94%, rgba(255, 255, 255, 0) 29.17%);
}

.top {
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin-top: -30px;
  padding-left: 15px;
  flex: 1;
  background-color: #FFFFFF;
}

.topsmall {
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin-top: -8px;
  padding-left: 15px;
  flex: 1;
  background-color: #FFFFFF;
}

.side {
  display: flex;
  width: 300px;
  flex-direction: column;
  z-index: 1;
  margin-left: -28px;
  background-color: #FFFFFF;
}

h1 {
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h2 {
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  padding-top: 15px;
  height: 45px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text1 {
  padding-right: 15px;
  padding-top: 5px;
  margin: 0;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text2 {
  width: 255px;
  padding-right: 15px;
  margin: 0;
  line-height: 19px;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text3 {
  width: 315px;
  height: 150px;
  margin: 0;
  -webkit-line-clamp: 8;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bottom {
  display: flex;
  flex: 1;
  padding: 15px 15px 15px 0px;
}

.bottom2 {
  display: flex;
  flex: 1;
  padding: 15px 15px 15px 0px;
  width: 315px;
}

.like {
  height: 30px;
  align-self: flex-end;
  margin-left: auto;
  text-align: right;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #7CF253;
}

.button_container {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 27px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  margin-left: 4px;
}

.buttonplus {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  border: none;
  background-color: #FFFFFF;
  color: #7CF253;
}

.buttonminus {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  border: none;
  background-color: #FFFFFF;
  color: #FF9494;
}

.button_up {
  flex: 1;
  display: flex;
  justify-content: center;
}

.up {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  width: 153px;
  height: 52px;
  position: fixed;
  bottom: 20%;
  color: #232323;
}
.up p {
  font-size: 14px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 28px 0 31px 0;
  margin: auto;
}

.buttonmore {
  background-color: #FFFD00;
  text-align: center;
  width: 132px;
  height: 38px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  border: none;
  line-height: 16px;
  margin: auto;
  font-size: 14px;
}
.buttonmore:hover {
  background: #FFE600;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(1, 1, 0.5, 1);
}

@media screen and (max-width: 1495px) {
  .up {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  .title {
    margin-left: 367px;
  }
  .a_top {
    display: none;
  }
  .block1 {
    display: flex;
    flex-wrap: wrap;
  }
  .block2 {
    display: flex;
    flex-wrap: wrap;
  }
  .art1 {
    width: 1185px;
    height: 300px;
    flex-direction: row;
  }
  .art2 {
    width: 1185px;
    height: 300px;
    flex-direction: row;
  }
  .art3 {
    width: 1185px;
    height: 300px;
    flex-direction: row;
  }
  .art4 {
    width: 1185px;
    height: 300px;
    flex-direction: row;
  }
  .art5 {
    width: 1185px;
    height: 300px;
    flex-direction: row;
  }
  .art6 {
    width: 1185px;
    height: 300px;
    flex-direction: row;
  }
  .imgbig {
    min-width: 577.31px;
    height: 100%;
    background-position: center;
  }
  .imgbig::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(270deg, #FFFFFF 10.94%, rgba(255, 255, 255, 0) 29.17%);
  }
  .imgsmall {
    min-width: 577.31px;
    height: 100%;
    background-position: center;
  }
  .imgsmall::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(270deg, #FFFFFF 10.94%, rgba(255, 255, 255, 0) 29.17%);
  }
  .imgside {
    width: 577.31px;
  }
  .top {
    margin-left: -31.31px;
    margin-top: 0;
    padding-left: 0;
  }
  .topsmall {
    margin-left: -31.31px;
    margin-top: 0;
    padding-left: 0;
  }
  .side {
    margin-left: -31.31px;
    margin-top: 0;
    padding-left: 0;
  }
  h1 {
    margin-top: 15px;
  }
  h3 {
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    margin-top: 15px;
  }
  h2 {
    margin-top: 15px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .text1 {
    min-width: 615px;
    height: 103px;
    line-height: 18.75px;
  }
  .text2 {
    width: 615px;
    height: 103px;
    line-height: 18.75px;
    padding-top: 5px;
    -webkit-line-clamp: 5;
  }
  .text3 {
    width: 615px;
    height: 103px;
    line-height: 18.75px;
    padding-top: 5px;
    -webkit-line-clamp: 5;
  }
  .bottom {
    padding: 0px 15px 0px 0px;
    margin-bottom: 121px;
    margin-top: 9px;
  }
  .bottom2 {
    padding: 0px 15px 0px 0px;
    margin-bottom: 121px;
    margin-top: 9px;
  }
  .like {
    display: none;
  }
  .button_container {
    display: none;
  }
  .buttonplus {
    display: none;
  }
  .buttonminus {
    display: none;
  }
  .up {
    display: none;
  }
}

/*# sourceMappingURL=index_scss.css.map */
