@mixin font ($fweight, $fsize, $fline) {
    font-weight: $fweight;
    font-size: $fsize;
    line-height: $fline;
}
@mixin font2 ($fweight, $fsize, $fline) {
    font-weight: $fweight;
    font-size: $fsize;
    line-height: $fline;
    color: $fontcolorabus;
}
@mixin img_gradient ($grad) {
    content: "";
        width: 100%;
        height: 100%;    
        position: absolute;

    @if ($grad == 360) {
        background-image: linear-gradient(360deg, #FFFFFF 10.88%, rgba(255, 255, 255, 0) 29.1%);
    }
    @else {
        background-image: linear-gradient(270deg, #FFFFFF 10.94%, rgba(255, 255, 255, 0) 29.17%);
    }
}
@mixin line-clamp ($lines) {
    -webkit-line-clamp: $lines;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
