$bgcolor: #E5E5E5;
$bgcolorhead: #FFFD00;
$bgcolornav: #FFFFFF;
$bgcolorart: #FFFFFF;
$bgcolorabus: #61019A;
$bgcolorabus2: #3D0062;
$fontcolor: #232323;
$fontcolorabus: #F6F6F6;
$linkcolor:#A102FF;
$linkcolorhov:#D48BFF;
$buttoncolor: #FFFD00;
$buttoncolorhov: #FFE600;
$likecolor: #7CF253;
$pluscolor: #7CF253;
$minuscolor: #FF9494;
$buttonupcolor: #FFFFFF;
$formcolorfocus: #FFFD00;
$searchimg: url(../../imgs/Vector.png);
$img1: url(../../imgs/leaf.png) 0/cover;
$img2: url(../../imgs/1party.png) 0/cover;
$img3: url(../../imgs/1crowd.png) 0/cover;
$imgabus1: url(../../imgs/chat.png);
$imgabus2: url(../../imgs/happyman.png);
$fsizehead: 20px;
$fsizelink: 14px;
$fsizeall: 16px;
$fsizebutton: 14px;
$fweightall: 400;
$letterspace: -0.02em;
$box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);